@charset "utf-08";

body, main{
    display: flex;
}
body{
    flex-direction:column;
}
main{
    flex-direction: row;
    flex: auto;
}
header h1{
    display: inline-block;
}

header img{
    width: 20%;
    margin: 0 0 0 30px;
    
}
header{
    padding: 50px;
}
article{
    flex:2;
}
aside{
    flex:1;
}

article, aside{
    overflow-y:auto;
}
#margenizquierdo{
    margin: 0 20px 0 28%;
}
header nav a{
    margin: 0 20px 0 0;
}

header nav a:hover{
    color: rgb(172, 2, 2);
    text-decoration: overline;
}

article p,h2{
  margin-left: 20px;
}
article h2{
  color: rgb(170, 0, 0);
  margin-top: 50px;
}

.section-twitter{
  flex: 1.5;
  
}
.section-twitter{
  width: 50%;
  margin: 50px 0 50px 50px;
} 
.article-twitte{
  justify-content: space-evenly;
  margin-top: 25px;
}
.article-twitte p{
  text-align: justify;
  padding-right: 50px;
}
footer{
  margin: 0%;
  padding: 20px 0 5px 0;
  width: 100%;
  background-color: black;
}
footer p{
  text-align: center;
  color: white;
}
footer a{
  color: rgb(212, 4, 4);
}
footer a:hover{
  color: white;
}

#smart_thumbnail{
  margin: 50px 0 50px 30px;
  padding: 0%;
}
.section-js{
  width: 500px;
}
section img{
  width:440px;
}
.card{
  margin-left: 5%;
  background-color: rgb(228, 227, 227);
  width: 80%;
  padding: 20px 2.5% 20px 2.5%;
  margin-top: 10px;
}
.card:hover{
  border: 1px solid silver;
  transition: border .5s;
}
.btn{
  width: 30px;
  border: 0;
  background-color: rgb(228, 227, 227);
}

.btn:active{
  transform: rotate(320deg);
  transition: transform .5s
}
#card-1{
  display: none;
}
.subcard{
  margin-top: 5px;
}
.card-abajo{
  margin-bottom: 50px;
}
.card-codigo{
  background-color: white;
  width: 70%;
  margin-left: 10%;
  padding:2.5%;
}
div h3{
  color: rgb(170, 0, 0);
}
.tabulador{
  margin-left: 30px;
}
.dobletab{
  margin-left: 60px;
}
.parrafo{
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px 0 10px 0;
}
.card h3, button{
  display: inline-block;
}
.section-adicional2{
  margin-left: 50px;
  flex: 1.5;
}
.subtitles{
  color:rgb(170, 0, 0);
}
.texto{
padding-top: 30px;
}
.padding{
  padding-top: 25px;
}

@media only screen and (max-width: 700px){
  header{
    padding: 20px 0 20px 50px;
    
  }
  #margenizquierdo{
    margin: 0 10px 0 0;
}
  header nav a{
    padding: 0;
    font-size: 8.3pt;
    margin: 0 10px 0 0;
}
  .margin{
    margin-left: 70px;
  }
  div a img{
    width: 50px;
  }
  header img{
    width: 150px;
    margin: 10px 0 0 0;
  }
  main{
    text-align: justify;
    margin: 60px 0 0 0;
  }
  main p{
    margin: 30px 20px 0 20px;
  }
  .text-largo{
    font-size: 15pt;
  }
  .img-largo{
    margin-top: 30px;
    width: 100px;
    
  }
  .pg-3{
    margin-top: 30px;
    width:130px;
  }
  .tt-3{
    font-size: 18pt;
  }
  .tweet-primero{
    margin-top: 120px;
  }
  #img-tweet{
    margin-top: 30px;
  }

}