@charset "utf-08";

body, main{
    display: flex;
}
body{
    flex-direction:column;
}
main{
    flex-direction: row;
    flex: auto;
}
header h1{
    display: inline-block;
}

header img{
    width: 20%;
    margin: 0 0 0 30px;
    vertical-aling: middle;
}
header{
    padding: 50px;
}
article{
    flex:2;
}
aside{
    flex:1;
}

article, aside{
    overflow-y:auto;
}
#margenizquierdo{
    margin: 0 20px 0 50%;
}
header nav a{
    margin: 0 20px 0 0;
}

header nav a:hover{
    color: #000;
    text-decoration: overline;
}

article p,h2{
  margin-left: 20px;
}
article h2{
  margin-top: 50px;
}

.section-twitter{
  flex: 1.5;
  
}
.section-twitter{
  width: 50%;
  margin: 50px 0 50px 50px;
} 
.article-twitte{
  justify-content: space-evenly;
}
.article-twitte p{
  text-align: justify;
  padding-right: 50px;
}